@{
    ViewData["Title"] = "About me";
}

<h1>Hi, welcome to my blog! 👋</h1>
<p>
    I love programming and problem solving. The repo for this web app can be
    found <a href="https://github.com/ydalton/blog-asp/">here</a>.
</p>